src/main/api/task-status-schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="status">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="task"/>
        <xs:element type="xs:string" name="link"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>